{% extends "main_template.html" %}
{% block title %}{{ person }}{% endblock %}
{% block content %}
  <h1>{{ person }}</h1>

  <p><strong>First name:</strong> {{ person.first_name }} </p>
  <p><strong>Last name:</strong> {{ person.last_name }} </p>
  <p><strong>Patronymic name:</strong> {{ person.patronymic_name }} </p>
  <p><strong>Gender:</strong> {{ person.gender }} </p>
  <p><strong>Date of birth:</strong> {{ person.date_of_birth }} </p>
  <p><strong>Place of birth:</strong> {{ person.place_of_birth }} </p>
  <p><strong>Date of death:</strong> {{ person.date_of_death }} </p>
  <p><strong>Place of death:</strong> {{ person.place_of_death }} </p>
  <p><strong>Info:</strong> {{ person.info }} </p>

<a href="{% url 'update_person' person.id %}" class="btn btn-default">Update</a>
<br>
<a href="{% url 'delete_person' person.id %}" class="btn btn-default">Delete</a>
{% endblock %}