{% extends "main_template.html" %}
{% block title %}All persons{% endblock %}

{% block content %}
    <style>
        a.person_list {
            color: #612a11;
            text-decoration: none;
            font-weight: bold;
        }
    </style>

    {% if persons_list %}
        <ol>
            {% for person in persons_list %}
                <li>
                    <a class="person_list" href="{{ person.get_absolute_url }}">
                        <h3>{{ person }}</h3>
                    </a>
                </li>
            {% endfor %}
        </ol>
    {% else %}
        <p>There are no persons.</p>
    {% endif %}

{% endblock %}