{% extends "main_template.html" %}
{% block title %}Add person{% endblock %}

{% block content %}
    <style>
        .list {
            color: #000000;
            font-size: medium;
        }

        .livesearch {
            width: 350px;
        }

        td {
            font-size: 20px;
            line-height: 36px;
            font-weight: bold;
            padding-left: 20px;
        }

        table {
            margin: auto;
            width: 100%;
        }

    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">

    <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}

    <table>
    <tr>
    <td style="padding-top: 20px; padding-left: 100px; padding-right: 20px;">

    <!--        user        -->
    {{ form.user.as_hidden }}

    <p>{{ form.first_name.label_tag }}
    {{ form.first_name }}

    <p>{{ form.last_name.label_tag }}
    {{ form.last_name }}

    <p>{{ form.patronymic.label_tag }}
    {{ form.patronymic }}

    <p>{{ form.gender.label_tag }}
    {{ form.gender }}

    <p>{{ form.date_of_birth.label_tag }}
    <input type="text" name="date_of_birth" id="id_date_of_birth" placeholder="DD/MM/YYYY">

    <p>{{ form.place_of_birth.label_tag }}
    {{ form.place_of_birth }}

    <p>{{ form.date_of_death.label_tag }}
    <input type="text" name="date_of_death" id="id_date_of_death" placeholder="DD/MM/YYYY">

    <p>{{ form.place_of_death.label_tag }}
    {{ form.place_of_death }}
    <p><input type="submit" value="Create" /></p>
    </td>

    <td style="padding-top: 20px; padding-left: 20px; padding-right: 20px; vertical-align: top;">

    <p>{{ form.info.label_tag }}
    <textarea name="info" cols="50" rows="10"></textarea>

    <p>{{ form.photo.label_tag }}
    {{ form.photo }}

    <p>{{ form.mother.label_tag }}
    <select class="livesearch" name="mother" id={{ form.mother.id_for_label }}>
        {% for i in form.mother %}
            <option class="list" value={{ i.data.value|stringformat:'s' }}>
                {{i.choice_label}}
            </option>
        {% endfor %}
    </select>

    <p>{{ form.father.label_tag }}
    <select class="livesearch" name="father" id={{ form.father.id_for_label }}>
        {% for i in form.father %}
            <option class="list" value={{ i.data.value|stringformat:'s' }}>
                {{i.choice_label}}
            </option>
        {% endfor %}
    </select>

    </td>
    </tr>
    </table>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>

    <script type="text/javascript">
        $(".livesearch").chosen();
    </script>

    <!-- Fengyuan Chen's Datepicker -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE="
          crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k="
            crossorigin="anonymous"></script>

    <script>
        $(function () {
            $( "#id_date_of_birth" ).datepicker({
                format:'dd/mm/yyyy',
            });

            $( "#id_date_of_death" ).datepicker({
                format:'dd/mm/yyyy',
            });
        });
    </script>
{% endblock %}
